@import "reset";


html {
  position : absolute;
  width : 100%;
  height : 100%;
}
.config {
  background: gray;
  z-index: 3;

  &.hidden {
    display : none;
  }

  p {
    margin-top : 50px;
    color:white;
    text-transform : uppercase;
    text-align : center;
  }
  &__button {
    width: 100px;
    height : 40px;
    display : block;
    margin: 40px auto;
  }
}


.grid {
  background: #5d5d5d;
  border-collapse: collapse;
  height : 200px;
  width: 200px;

  td {
    border: 1px solid #fff;

    &.hit {
      background: red;
    }
  }
}
